# Lookalikes

S. annulatum is a parent species to S. jensenii together with S. balticum, and to S. majus together with S. cuspidatum. 
With field experience, the species in question can easily be identified on capitulum structures alone.<sup><a href="#flatberg1988-annulatum">1</a></sup>

<a href="{{ site.baseurl }}/Subgenus%20Cuspidata/Sphagnum%20majus/">S. majus</a><br>
Capitula more clearly domed than in the other species, most often less clearly stellate, often without distinct terminal bud, and almost always with more curved branches in every sense of the word. <sup><a href="#flatberg2015-majus">2</a></sup> 


<a href="{{ site.baseurl }}/Subgenus%20Cuspidata/Sphagnum%20jensenii/">S. jensenii</a><br>
Easiest way to differentiate the two:  

1. <strong>It will usually be sufficient to examine the relative length of the hyalocysts of the divergent branch leaves: if they are markedly longer in the basal than middle part of the leaf, the plant is likely to be S. jensenii and not S. annulatum, which has hyalocysts of rather uniform size.</strong>

2. <strong>The stem of Sphagnum annulatum (cross-section) has undifferentiated or poorly differentiated cortical cells, whereas the stems of S. majus and S. jensenii have clearly differentiated cortical cells.</strong>

Compared to S. jensenii, S. annulatum is less robust, smaller, more chestnut brown (less yellow-brown) and its branches are more curved; the capitulum is more often clearly star-shaped with a distinct apical bud.  
S. jensenii has a a messier apperance and the convex side of the basal part of the branch leaf have hyaline cells that are longer compared to those in the middle part — note: S. annulatum also has larger pores in the basal part of the branch leaf, but not as large and as many large pores as S. jensenii.

Compared with S. jensenii, S. annulatum prefers somewhat richer, less wet and more distinctly soligenous mire sites with a clearer margin character.

<a href="{{ site.baseurl }}/Subgenus%20Cuspidata/Sphagnum%20balticum/">S. balticum</a><br>
Sphagnum annulatum and S. balticum can also be mistaken in the field. They differ in their habitat preferences, but sometimes grow together in the transitional zone between mesotrophic soligenous fens and oligotrophic topogenous fens; the plants are then often similar in size and colour. But the distinct terminal bud and the more arcuato-decurved and fairly acutely tapering outer branches of the capitulum distinguish the plants of S. annulatum from S. balticum. Microscopically, they present no problems.

Capitula flatter than in S. annulatum, pure brown/brown-green, not very shiny, with indistinct to hidden terminal bud, with short capitulum branches clearly inward-curved, and straighter outer capitulum branches with more clearly arranged leaves in rows. Stem leaves shorter, more obtuse and more concave. More often found with only one pendant branch. Less nutrient demanding and more often found in ombrotrophic and nutrient-poor mires, rare in intermediate mires, absent from rich fens.<sup><a href="#flatberg2015-annulatum">3</a></sup>

<img src="{{ '/assets/lookalikes/complex-annulatum/lookalikes-majus-annulatum-jensenii.webp' | relative_url }}" loading="lazy" alt="Lookalikes majus(mam),annulatum(an) and jensenii(je)" />

↑ mam = S. majus | an = S. annulatum | je = S. jensenii

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p91.jpg' | relative_url }}" loading="lazy" alt="The Norwegian Sphagna a field colour guide - p91" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p92.jpg' | relative_url }}" loading="lazy" alt="The Norwegian Sphagna a field colour guide - p92" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p93.jpg' | relative_url }}" loading="lazy" alt="The Norwegian Sphagna a field colour guide - p93" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p94.jpg' | relative_url }}" loading="lazy" alt="The Norwegian Sphagna a field colour guide - p94" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p95.jpg' | relative_url }}" loading="lazy" alt="The Norwegian Sphagna a field colour guide - p95" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.336.png' | relative_url }}" loading="lazy" alt="taxonomy of sphagnum annulatum and related species p.336" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.337.png' | relative_url }}" loading="lazy" alt="taxonomy of sphagnum annulatum and related species p.337" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.338.png' | relative_url }}" loading="lazy" alt="taxonomy of sphagnum annulatum and related species p.338" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.339.png' | relative_url }}" loading="lazy" alt="taxonomy of sphagnum annulatum and related species p.339" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.340.png' | relative_url }}" loading="lazy" alt="taxonomy of sphagnum annulatum and related species p.340" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.341.png' | relative_url }}" loading="lazy" alt="taxonomy of sphagnum annulatum and related species p.341" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.342.png' | relative_url }}" loading="lazy" alt="taxonomy of sphagnum annulatum and related species p.342" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/20240817_175410.jpg' | relative_url }}" loading="lazy" alt="20240817_175410" />  
↑ Sphagnum annulatum (left and middle) and majus (right)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_124434.jpg' | relative_url }}" loading="lazy" alt="20250621_124434" />  
↑ Sphagnum majus and lindbergii (two large plants in the middle and the outskirts)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_124927.jpg' | relative_url }}" loading="lazy" alt="20250621_124927" />  
↑ Sphagnum majus

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_143718.jpg' | relative_url }}" loading="lazy" alt="20250621_143718" />  
↑ Sphagnum balticum (four large, straight branched in the middle vertically), majus (top left and towards bottom right, small with a white body), and lindbergii in the outskirts (brown with brown top bud)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_144612.jpg' | relative_url }}" loading="lazy" alt="20250621_144612" />  
↑ Sphagnum balticum and majus (showing top bud)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_144644.jpg' | relative_url }}" loading="lazy" alt="20250621_144644" />  
↑ Sphagnum balticum (left) and majus (right)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_152405.jpg' | relative_url }}" loading="lazy" alt="20250621_152405" />  
↑ Sphagnum majus

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_153628.jpg' | relative_url }}" loading="lazy" alt="20250621_153628" />  
↑ Sphagnum jensenii and lindbergii

<img src="{{ '/assets/lookalikes/complex-annulatum/206452.webp' | relative_url }}" loading="lazy" alt="206452" />
↑ Sphagnum jensenii (je), majus (two large pale bottom) and lindbergii (li)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250720_163234.jpg' | relative_url }}" loading="lazy" alt="20250720_163234" />  
↑ Sphagnum majus (left) and annulatum (right)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250720_163427.jpg' | relative_url }}" loading="lazy" alt="20250720_163427" />  
↑ Sphagnum majus (left) and annulatum (right)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250806_153844.jpg' | relative_url }}" loading="lazy" alt="20250806_153844" />  
↑ Sphagnum jensenii (darker brown, mostly middle right) and annulatum (light brown, yellow and green)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250916_130807.jpg' | relative_url }}" loading="lazy" alt="20250916_130807" />  
↑ Sphagnum jensenii (darker brown, left) and annulatum (light brown and yellow).

## Lookalike Sources

<ol>
  <li id="flatberg1988-annulatum">FLATBERG, K. I. (1988). Taxonomy of Sphagnum annulatum and related species. <em>Annales Botanici Fennici</em>, 25(4), 303–350. <a href="https://www.jstor.org/stable/23725638?read-now=1%3Fread-now%3D1&seq=32" target="_blank">http://www.jstor.org/stable/23725638</a> (p. 334)</li>
  <li id="flatberg2015-majus">FLATBERG, K. I. (2015). Lurvtorvmose <em>Sphagnum majus</em> subsp. <em>majus</em>. <a href="https://www.artsdatabanken.no/Pages/186254" target="_blank">www.artsdatabanken.no/Pages/186254</a>. Retrieved [16/09/2025]</li>
  <li id="flatberg2015-annulatum">FLATBERG, K. I. (2015). Pisktorvmose <em>Sphagnum annulatum</em> H.Lindb. ex Warnst. <a href="https://www.artsdatabanken.no/Pages/186268" target="_blank">www.artsdatabanken.no/Pages/186268</a>. Retrieved [16/09/2025]</li>
</ol>