## Lookalikes

S. annulatum is a parent species to S. jensenii together with S. balticum, and to S. majus together with S. cuspidatum.

<a href="{{ site.baseurl }}/Subgenus%20Cuspidata/Sphagnum%20majus/">S. majus</a><br>
Hoder tydeligere hvelvede enn hos pisktorvmose, mindre skinnende brun, mindre tydelig 5-delte, uten tydelig toppknopp, og med mer innover- og sidekrøkte greiner. Utstående greiner mer uregelmessig bøyde med mer utsperrede, mindre tett taklagte, smalere og mer sidebøyde blad. Mindre basekrevende med hovedutbredelse på kalkfattig myr. grenblad med porer som är mindre och som finns både på konvex- och konkavsidan och med klorofyllceller som i tvärsnitt är något mer ex­ponerade samt stambark som är mer tydligt differen­tierad

<a href="{{ site.baseurl }}/Subgenus%20Cuspidata/Sphagnum%20jensenii/">S. jensenii</a><br>
Easiest way to differentiate the two:  

1. <strong>It will usually be sufficient to examine the relative length of the hyalocysts of the divergent branch leaves: if they are markedly longer in the basal than middle part of the leaf, the plant is likely to be S. iensenii and not S. annulatum, which has hyalocysts of rather uniform size.</strong>  

2. <strong>The stem of Sphagnum annulatum (cross-section) has undifferentiated or poorly differentiated cortical cells, whereas the stems of S. majus and S. jensenii have clearly differentiated cortical cells.</strong>

Compared to S. jensenii, S. annulatum is less robust, smaller, more chestnut brown (less yellow-brown) and its branches are more curved; the capitulum is more often clearly star-shaped with a distinct apical bud.  
S. jensenii has a a messier apperance and the convex side of the basal part of the branch leaf have hyaline cells that are longer compared to those in the middle part — note: S. annulatum also has larger pores in the basal part of the branch leaf, but not as large and as many large pores as S. jensenii.

Compared with S. jensenii, S. annulatum prefers somewhat richer, less wet and more distinctly soligenous mire sites with a clearer margin character.

<a href="{{ site.baseurl }}/Subgenus%20Cuspidata/Sphagnum%20balticum/">S. balticum</a><br>
Sphagnum annulatum and S. balticum can also be mistaken in the field. They differ in their habitat preferences, but sometimes grow together in the transitional zone between mesotrophic soligenous fens and oligotrophic topogenous fens; the plants are then often similar in size and colour. But the distinct terminal bud and the more arcuato-decurved and fairly acutely tapering outer branches of the capitulum distinguish the plants of S. annulatum from S. balticum. Microscopically, they present no problems.

Hoder flatere enn hos pisktorvmose, rent brune/brungrønne, lite glinsende, med utydelig til skjult toppknopp, med tydelig innoverkrøkte kortgreiner, og mer rette yttergreiner med mer tydelig rekkestilte blad. Stengelblad kortere, buttere og mer konkave. Oftere med bare én hengegrein. Mindre basekrevende i ombrogen og kalkfattig myr, sjelden i intermediær myr, fraværende fra rikmyr. Sporemasse gul.
växer ofta mer mineralfattigt/surt och är ofta klenare, inte så glänsande, har i genomsnitt lite kortare stamblad, färre porer (ofta 1–2(4) per cell istället för fler än 5) i hyalincellerna på konvexsidan i mitten av grenbladen och dessutom grenblad som oftast är arrangerade i fem tydliga rader.

<img src="{{ '/assets/lookalikes/complex-annulatum/lookalikes-majus-annulatum-jensenii.webp' | relative_url }}" alt="Lookalikes majus(mam),annulatum(an) and jensenii(je)" />

↑ mam = S. majus | an = S. annulatum | je = S. jensenii

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p91.jpg' | relative_url }}" alt="The Norwegian Sphagna a field colour guide - p91" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p92.jpg' | relative_url }}" alt="The Norwegian Sphagna a field colour guide - p92" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p93.jpg' | relative_url }}" alt="The Norwegian Sphagna a field colour guide - p93" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p94.jpg' | relative_url }}" alt="The Norwegian Sphagna a field colour guide - p94" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/The%20Norwegian%20Sphagna%20a%20field%20colour%20guide%20-%20p95.jpg' | relative_url }}" alt="The Norwegian Sphagna a field colour guide - p95" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.336.png' | relative_url }}" alt="taxonomy of sphagnum annulatum and related species p.336" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.337.png' | relative_url }}" alt="taxonomy of sphagnum annulatum and related species p.337" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.338.png' | relative_url }}" alt="taxonomy of sphagnum annulatum and related species p.338" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.339.png' | relative_url }}" alt="taxonomy of sphagnum annulatum and related species p.339" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.340.png' | relative_url }}" alt="taxonomy of sphagnum annulatum and related species p.340" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.341.png' | relative_url }}" alt="taxonomy of sphagnum annulatum and related species p.341" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/taxonomy of sphagnum annulatum and related species p.342.png' | relative_url }}" alt="taxonomy of sphagnum annulatum and related species p.342" />  

<img src="{{ '/assets/lookalikes/complex-annulatum/20240817_175410.jpg' | relative_url }}" alt="20240817_175410" />  
↑ Sphagnum annulatum (left and middle) and majus (right)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_120517.jpg' | relative_url }}" alt="20250621_120517" />  
↑ Sphagnum balticum

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_124434.jpg' | relative_url }}" alt="20250621_124434" />  
↑ Sphagnum majus and lindbergii (two large plants in the middle and the outskirts)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_124927.jpg' | relative_url }}" alt="20250621_124927" />  
↑ Sphagnum majus

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_143718.jpg' | relative_url }}" alt="20250621_143718" />  
↑ Sphagnum balticum (four large, straight branched in the middle vertically), majus (top left and towards bottom right, small with a white body), and lindbergii in the outskirts (brown with brown top bud)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_144612.jpg' | relative_url }}" alt="20250621_144612" />  
↑ Sphagnum balticum and majus (showing top bud)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_144644.jpg' | relative_url }}" alt="20250621_144644" />  
↑ Sphagnum balticum (left) and majus (right)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_144806.jpg' | relative_url }}" alt="20250621_144806" />  
↑ Sphagnum balticum

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_152405.jpg' | relative_url }}" alt="20250621_152405" />  
↑ Sphagnum majus

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_152415.jpg' | relative_url }}" alt="20250621_152415" />  
↑ Sphagnum majus

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_153604.jpg' | relative_url }}" alt="20250621_153604" />  
↑ Sphagnum jensenii (one top left, far left (small one) and one top right), majus (two plants in the bottom middle) and linbergii (bottom left slightly under the straw)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250621_153628.jpg' | relative_url }}" alt="20250621_153628" />  
↑ Sphagnum jensenii and lindbergii

<img src="{{ '/assets/lookalikes/complex-annulatum/20250720_163234.jpg' | relative_url }}" alt="20250720_163234" />  
↑ Sphagnum majus (left) and annulatum (right)

<img src="{{ '/assets/lookalikes/complex-annulatum/20250720_163427.jpg' | relative_url }}" alt="20250720_163427" />  
↑ Sphagnum majus (left) and annulatum (right)
