* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 32px 64px; /* 32px top/bottom, 64px left/right */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}
nav li {
    display: inline-block;
    margin: 0 24px;
    padding: 0;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 0;
}
img {
    max-width: 1200px;
    width: auto;
    height: auto;
}

@media (max-width: 600px) {
    img {
        max-width: 100%; /* Fixes zoom and padding issues */
        width: auto;
        height: auto;
    }
    body {
        padding: 12px 8px;
        font-size: 1.1em;
    }
        nav a {
        padding: 12px 0;
        display: block;
    }
    nav li {
        display: block;
        margin: 8px 0;
    }
}
